<!DOCTYPE html>
<html lang="en">
<head>

   
     {% include "partials/defstyle.njk" %}

     <link rel="stylesheet" href="./resources/progresources/globalcss.css">

</head>


<body>


    <div class="maindiv">
    

  {% include "partials/header.njk" %}
       
        

<br><br>


<div class="betterparentboxcenter">

 

    <div>
        
        <img src="./resources/images/me.png" class="indicator2"> </img>

      </div>

<div>
    <p class="betterp">
        <b>Hello!</b>
        I am Gavin, an ECEE major, blah blah blah 
        listen to my words boy, for they spell your doom.
        Take a look around or check out my latest post!
    </p>
</div>

</div>
 

<br><br>
<hr>

<div>

    <h2 class="lefttext">Latest posts:</h2>
</div>



  {% assign indi = -1 %}
  

 



<div class="scrollme">

    <ul>
  

  {% for post in collections.projects %}

  {% assign indi = indi | plus: 1 %}

  

 

   <li><a href=".{{ post.url }}">{{ post.data.title }}</a></li> <br>


   

    


 





  {% endfor %}

</ul>

</div>





</body>
</html>
