<!DOCTYPE html>
<html lang="en">
<head>

   
     {% include "partials/defstyle.njk" %}

     <link rel="stylesheet" href="./resources/progresources/globalcss.css">

</head>


<body>


    <div class="maindiv">
    

  {% include "partials/header.njk" %}
       
        

<br><br>


<div class="betterparentboxcenter">

 

    <div>
        
        <img src="./resources/images/me.png" class="indicator2"> </img>

      </div>

<div>
    <p class="betterp">
        <b>Hello!</b>
        I am Gavin, an ECEE major, blah blah blah 
        listen to my words boy, for they spell your doom.
        Take a look around or check out my latest post!
    </p>
</div>

</div>
 

<br><br>
<hr>

<div>

    <h2 class="lefttext">Latest post:</h2>
</div>







</div>



</body>
</html>
