---
title: arduino uno pcb 
date: 2025-08-01
description: pcb I designed and soldered. 
tags: 
- projects
- posts
---

 {% assign library = "projects.html" %}



<!doctype html>
<html lang="en">
  <head>
    
    

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>



 {% assign library = "projects.html" %}
  

<body>


 




    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       
        

<br><br>



<div class="betterparentboxcenter">

 

    <div>
        
        <img src="../resources/images/brd 3 image.png" class="indicator5"> </img>

      </div>


</div>

<div class="betterparentboxcenter">
    <p class="betterp">
•Designed and hand soldered fully functional 2-layer Arduino uno
•Features less signal noise than commercial Arduinos 
•Onboard chip converts usb to i2c signals to esp32 microprocessor for programming.	


report found <a href="https://github.com/O11WL1D/ECEN3730_PCBS/tree/master/BRD3">here</a> 
    </p>
</div>







{% assign index = 3 %}

{% include "partials/contentfooter.njk" %}

</div>





 
 {% assign goption = 2 %}

 {% include "partials/contentscripts.njk" %}


 



</body>
</html>