---
title: 8 bit computer
date: 2025-08-01
description: its an 8 bit computer oh yeah 
tags: 
- projects
---





<!doctype html>
<html lang="en">
  <head>
    
    <meta content="0; url=project1.html">

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 




    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       
        

<br><br>





{% assign index = 0 %}

{% include "partials/contentfooter.njk" %}

</div>





 
 {% assign goption = 2 %}

 {% include "partials/contentscripts.njk" %}


 



</body>
</html>