---
title: Online calendar front end and back end
date: 2025-08-01
description: Front end and back end to an online calendar. 
tags: 
- projects
---

 {% assign library = "projects.html" %}



<!doctype html>
<html lang="en">
  <head>
    
    

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>



 {% assign library = "projects.html" %}
  

<body>


 




    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       
        

<br><br>



<div class="betterparentboxcenter">

 

    <div>
        
        <img src="../resources/images/swapped.png" class="indicator6"> </img>

      </div>


</div>

<div class="betterparentboxcenter">
    <p class="betterp">

•Designed front and back end of scheduling page. 
•Utilized SQL, Handlebars, Javascript, Nodejs.
• Calendar fetches dates and events for current week from SQL database. 
•Clears calendar and re-fetches upon selecting different week.



code found here <a href="https://github.com/O11WL1D/rtos_final_project?tab=readme-ov-file">here</a> 
video demo found here <a href="https://www.youtube.com/watch?v=CQgWA97NCd4">here</a> 

website found here, but sql database has long since expired: <a href="https://skill-swap-webapp.onrender.com/">link</a> 

    </p>
</div>







{% assign index = 6 %}

{% include "partials/contentfooter.njk" %}

</div>





 
 {% assign goption = 2 %}

 {% include "partials/contentscripts.njk" %}


 



</body>
</html>