---
title: Capstone - EIT imaging system
date: 2025-08-01
description: Imaging system based on EIT transmission. 
tags: 
- projects
---

 {% assign library = "projects.html" %}



<!doctype html>
<html lang="en">
  <head>
    
    

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>



 {% assign library = "projects.html" %}
  

<body>


 




    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       
        

<br><br>



<div class="betterparentboxcenter">

 

    <div>
        
        <img src="../resources/images/eit.png" class="indicator6"> </img>

      </div>


</div>

<div class="betterparentboxcenter">
    <p class="betterp">

• Lead programmer on team developing wireless imaging device. 
• Device utilized esp32 controllers, Lora transmitters/receivers, and custom PCB. •Use of pyEIT imaging library
 • Worked on UI, esp32 to pc communication, optimizing algorithm for project.



code found here <a href="https://github.com/O11WL1D/Capstone-project">here</a> 
photos found here <a href="https://github.com/O11WL1D/Capstone-project/commit/02fbeed0473c1913b691fb5a1c230d217a19c1ff">here</a> 
    </p>
</div>







{% assign index = 7 %}

{% include "partials/contentfooter.njk" %}

</div>





 
 {% assign goption = 2 %}

 {% include "partials/contentscripts.njk" %}


 



</body>
</html>