---
title: 8 bit computer
date: 2025-08-01
description: its an 8 bit computer oh yeah 
tags: 
- projects
---
 {% assign library = "projects.html" %}




<!doctype html>
<html lang="en">
  <head>
    
    <meta content="0; url=project1.html">

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 




    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       
        

<br><br>



<div class="betterparentboxcenter">

 

    <div>
        
        <img src="../resources/images/8bit.jpeg" class="indicator5"> </img>

      </div>


</div>

<div class="betterparentboxcenter">
    <p class="betterp">
       • 8-bit breadboard computer capable of 7 instructions 
       • features RAM, control unit, PC/instruction register,
        2 temp registers, clock, binary to decimal display, ALU 
       • Later implemented via FPGA DE0-CV dev board, 
       added Adjustable-frequency Clock, three port W/R reg file 
        
       Video documentation can be found <a href="https://imgur.com/gallery/ben-eater-inspired-8-bit-computer-made-with-ttl-chips-DWOHOov">here</a> 
       

    </p>
</div>







{% assign index = 0 %}

{% include "partials/contentfooter.njk" %}

</div>





 
 {% assign goption = 2 %}


 {% include "partials/contentscripts.njk" %}


 



</body>
</html>