



<!doctype html>
<html lang="en">
  <head>
    
    <meta http-equiv="refresh" content="0; url=../404.html">

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 




    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       
        

<br><br>



<div class="betterparentboxcenter">

 

    <div>
        
        <img src="../resources/images/16bit.png" class="indicator5"> </img>

      </div>


</div>

<div class="betterparentboxcenter">
    <p class="betterp">
       • Improved version of 8 bit computer implemented via FPGA DE0-CV dev board 
       • Added Adjustable-frequency Clock, three port W/R reg file and much more
        
       Progress presentation can be found  <a href="https://www.linkedin.com/in/gavin-unrue/overlay/1635511234448/single-media-viewer/?profileId=ACoAADbeo2kBvR-3A6LRyaBPi1caVx19yGecSbw">here</a> 
       
        
    </p>
</div>







{% assign index = 2 %}

{% include "partials/contentfooter.njk" %}

</div>





 
 {% assign goption = 2 %}

 {% include "partials/contentscripts.njk" %}


 



</body>
</html>