---
title: Pearl Gecko i2c driver
date: 2025-08-01
description: communicates with temp sensor and board
tags: 
- projects
- posts
---

 {% assign library = "projects.html" %}



<!doctype html>
<html lang="en">
  <head>
    
    

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>



 {% assign library = "projects.html" %}
  

<body>


 




    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       
        

<br><br>



<div class="betterparentboxcenter">

 

    <div>
        
        <img src="../resources/images/geck.jpg" class="indicator5"> </img>

      </div>


</div>

<div class="betterparentboxcenter">
    <p class="betterp">

• Driver which communicates with Pearl Gecko’s onboard humidity sensor via i2C protocol
• Features a scheduler, Energy mode switching, Usage of onboard timers, Usage of GPIO ports, 
Software state machine.


code found here <a href="https://github.com/O11WL1D/pearlgeckoi2cdriver">here</a> 
    </p>
</div>







{% assign index = 4 %}

{% include "partials/contentfooter.njk" %}

</div>





 
 {% assign goption = 2 %}

 {% include "partials/contentscripts.njk" %}


 



</body>
</html>