---
title: Stats class final project - cancer data regression model/final poster
date: 2025-12-30
description: regression model on cancer data. 
tags: 
- projects
- posts
---

 {% assign library = "projects.html" %}



<!doctype html>
<html lang="en">
  <head>
    
    

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>



 {% assign library = "projects.html" %}
  

<body>


 




    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       
        

<br><br>


<div class="parentboxcenter">
  <hr>
<h3> description </h3>
<hr>
</div>

<div class="textcenter">
  <p class="betterp">
        I created a regression model on cancer data 
        for my final project for this class. The final
        poster I created for this class can be found 
        below. The code along with the final report 
        can also be found here:

  </p>
</div>



<div class="betterparentboxcenter">

 

    <div>
        
        <img src="../resources/images/panel1.png" class="indicator6"> </img>

      </div>


</div>


<div class="betterparentboxcenter">

 

    <div>
        
        <img src="../resources/images/panel2.png" class="indicator6"> </img>

      </div>


</div>



<div class="betterparentboxcenter">

 

    <div>
        
        <img src="../resources/images/panel3.png" class="indicator6"> </img>

      </div>


</div>



<div class="betterparentboxcenter">

 

    <div>
        
        <img src="../resources/images/panel4.png" class="indicator6"> </img>

      </div>


</div>






<br><br>




{% assign index = 8 %}

{% include "partials/contentfooter.njk" %}

</div>





 
 {% assign goption = 2 %}

 {% include "partials/contentscripts.njk" %}


 



</body>
</html>