---
title: edl robot
date: 2025-08-01
description: iiits a robot.
tags: 
- projects
---

 {% assign library = "projects.html" %}



<!doctype html>
<html lang="en">
  <head>
    
    

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>



 {% assign library = "projects.html" %}
  

<body>


 




    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       
        

<br><br>



<div class="betterparentboxcenter">

 

    <div>
        
        <img src="../resources/images/robot.jpeg.png" class="indicator5"> </img>

      </div>


</div>

<div class="betterparentboxcenter">
    <p class="betterp">
     # Description
This is a robot I built for my electronics design lab class. 
It features a cruise control system, an arduino interface and a remote control.
The cruise control system utilizes a negative feedback loop created by
 several filters linked up to each other. The remote control utilizes a HC-05 
bluetooth module which communicates with the remote controller's arduino 
via UART serial communication. 
 
    # Concepts used
Electronics Design Lab (ECEN 2270) utilized topics learned 
in my other class Circuits as Systems (ECEN 2260). The following 
is a list of the concepts utilized 
in this project:

- voltage level converters
- analog to pwm conversion
- pwm to analog conversion
- opamp circuit analysis
- hardware interrupts
- negative feedback
- filters
- h-bridge circuits
- pcb soldering

# video + photo documentation

Photos and videos found <a href="https://imgur.com/a/v1CFzqk">here</a> 
    </p>
</div>







{% assign index = 2 %}

{% include "partials/contentfooter.njk" %}

</div>





 
 {% assign goption = 2 %}

 {% include "partials/contentscripts.njk" %}


 



</body>
</html>