



    <div class="headstyle">
    <h4>
        {{ title }}
    </h4>
</div>

<hr>



<div class="headstyle">





    <header>
      <div>



        <a href="../index.html">home |</a>
        <a href="../projects.html">projects |</a> 
        <a href="../blog.html">blog |</a> 
        <a href="https://www.linkedin.com/in/gavin-unrue/">linkedin |</a> 
        <a href="../blogposts/bpost2.html">get updates |</a> 
    

      </div>

    </header>


  </div>

      <div class="spacer">

        </div>
